
* {
    -fx-primarytext: #fff;
    -fx-primarysc: #413135;
    -fx-primarybc: #5e5f6b;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #ff4d4d;
}

.table-view .column-header .label{
    -fx-text-fill: #FFF;
    -fx-font-family: Arial;
    -fx-font-size: 20px;
    -fx-padding: 5 0 5 0;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #ff4d4d;
}

.table-view .table-row-cell:odd{
    -fx-background-color: #cdd1d8;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .table-row-cell .text{
    -fx-font-size: 17px;
    -fx-font-family: "Times New Roman";
}

.table-view .table-row-cell:selected .text{
    -fx-fill: #000;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #ff9966;
}

.table-view .table-row-cell:hover{
    -fx-background-color: #ff9966;
}

.table-view .table-column{
    -fx-alignment: center;
    -fx-padding: 10px 0 0 0;
    -fx-border-width: 0;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-background-color: transparent;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.menu-bar {
    -fx-text-fill: #FFF;
    -fx-border-width: 0;
    -fx-background-color: -fx-primarybc;
}
.menu-bar .menu {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.menu .label {
    -fx-text-fill: #FFF;
    -fx-font-size: 16px;
}

.context-menu {
    -fx-border-width: 0;
    -fx-padding: 0;
}
.menu-bar .menu .menu-item {
    -fx-padding: 0;
    -fx-background-color: -fx-primarybc;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.menu-bar .menu .menu-item .button {
    -fx-font-size: 16px;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: -fx-primarytext;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.menu-bar .menu .menu-item .button:hover {
    -fx-background-color: #4e91fc;
}

#adminPane {
    -fx-padding: 0;
}

#topPane {
    -fx-background-color: -fx-primarybc;
}

#topPane #logout {
    -fx-font-size: 18px;
    -fx-text-fill: #FFF;
    -fx-font-family: "Times New Roman";
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#topPane #logout:hover {
    -fx-background-color:  #0096C9;
}

#leftPane {
    -fx-border-style: dashed;
}


/*All label with an id#*/
#searchP {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-border-width: 0 1 1 1;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}