.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 10px;

}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border: none
}

.table-view .column-header {
    -fx-text-fill: #fff;
    -fx-background-color: #14a816;
    -fx-border-width: 0 0 3 0;
}

.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dotted;
}

.button {
    -fx-font-size: 18px;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-background-color: transparent;
}

#leftPane {
    -fx-border-width: 0 1 0 0;
    -fx-border-style: dotted;
}

#flowPane .button:hover {
    -fx-cursor: hand;
    -fx-background-color: lightgray;

}

#topPane {
    -fx-background-color: #99e248;
}

#flowPane .button {
    -fx-font-size: 16px;
    -fx-pref-height: 135px;
    -fx-pref-width: 200px;
    -fx-text-fill: transparent;
}

#labelCategory {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: Verdana, Arial, Helvetica, sans-seri;
}

/*Styling all the Label*/

#rName {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#rAddress, #rPhone{
    -fx-font-size: 16px;
}