.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 10px;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border: none;
}

.table-view .column-header {
    -fx-background-color: #14a816;
    -fx-border-width: 0 0 3 0;
}

.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.table-view .table-row-cell .text {
    -fx-font-size: 15px;
}

.table-view .table-row-cell:selected .text{
    -fx-background-color: steelblue;
    -fx-fill: #b2030c;
    -fx-font-weight: bolder;
}

.table-view .table-column{
    -fx-alignment: center;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-background-color: transparent;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.text-field {
    -fx-font-size: 16px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #000;
    -fx-border-radius: 60px;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

.text-field .placeholder {
    -fx-font-size: 16px;
}

.button {
    -fx-font-size: 18px;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-background-color: transparent;
}

#leftPane {
    -fx-border-width: 0 1 0 0;
    -fx-border-style: dotted;
}

#flowPane .button:hover {
    -fx-cursor: hand;
    -fx-background-color: lightgray;

}

#topPane {
    -fx-background-color: #99e248;
}

#flowPane .button {
    -fx-font-size: 16px;
    -fx-pref-height: 135px;
    -fx-pref-width: 200px;
    -fx-text-fill: transparent;
}

#labelCategory {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: Verdana, Arial, Helvetica, sans-seri;
}

/*Styling all the Label*/

#totalItemT, #discountT, #priceT, #totalT {
    -fx-font-size: 15px;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    /*-fx-background-color: #14a816;*/
    -fx-alignment: center;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #000;
    -fx-border-style: dotted;
}

#totalItem, #discount, #totalPrice, #discountPer, #sumPrice {
    -fx-font-size: 16px;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-alignment: center;
}

#rName {
    -fx-font-size: 20px;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-font-weight: bold;
}

#rAddress, #rPhone{
    -fx-font-size: 15px;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

/*Buttons style*/

#leftPane .button {
    -fx-text-fill: transparent;
    -fx-border: none;
    -fx-pref-width: 55;
    -fx-pref-height: 45;
    -fx-background-size: 50 40;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

#leftPane .button:hover {
    -fx-background-color: lightgray;
}

#removeItem {
    -fx-background-image: url("/image/icon/return-cart.png");
}

#updateCart {
    -fx-background-image: url("/image/icon/update-cart.png");
}

#checkOut {
    -fx-background-image: url("/image/icon/checkout.png");
}