
* {
    -fx-primarytext: #fff;
    -fx-primarysc: #413135;
    -fx-primarybc: #232F3E;
    -fx-primafyfamily: "Times New Roman", Times, serif;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #5e5f6b;
}

.table-view .column-header .label{
    -fx-text-fill: #FFF;
    -fx-font-family: -fx-primafyfamily;
    -fx-font-size: 18px;
    -fx-padding: 5 0 5 0;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 1 0 1 0;
}

.table-view .table-row-cell:odd{
    -fx-background-color: #cdd1d8;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .table-row-cell .text{
    -fx-font-size: 16px;
    -fx-font-family: -fx-primafyfamily;
}

.table-view .table-row-cell:selected .text{
    -fx-fill: #000;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #ff9966;
}

.table-view .table-row-cell:hover{
    -fx-background-color: #ff9966;
}

.table-view .table-column{
    -fx-alignment: center;
    -fx-padding: 10px 0 0 0;
    -fx-border-width: 0;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-background-color: transparent;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.menu-bar {
    -fx-text-fill: #FFF;
    -fx-border-width: 0;
    -fx-background-color: -fx-primarybc;
}
.menu-bar .menu, #popUp {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.menu .label, #uAccount {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
}

.context-menu {
    -fx-border-width: 0;
    -fx-padding: 0;
}
.menu-bar .menu .menu-item, #popUp {
    -fx-padding: 0;
    -fx-background-color: -fx-primarybc;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.menu-bar .menu .menu-item .button, #popUp .button {
    -fx-font-size: 16px;
    -fx-font-family: -fx-primafyfamily;
    -fx-text-fill: -fx-primarytext;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

#uAccount:hover {
    -fx-padding: 0 5 0 5;
}

#popUp .button {
    -fx-font-size: 18px;
}

.menu-bar .menu .menu-item .button:hover, #uAccount:hover, #popUp .button:hover {
    -fx-background-color: #4e91fc;
}

#adminPane {
    -fx-padding: 0;
}

#topPane {
    -fx-background-color: -fx-primarybc;
}

#topPane #logout {
    -fx-font-size: 18px;
    -fx-text-fill: #FFF;
    -fx-font-family: -fx-primafyfamily;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#topPane #logout:hover {
    -fx-background-color:  #0096C9;
}

#leftPane {
    -fx-border-style: dashed;
}


/*All label with an id#*/
#searchP {
    -fx-font-family: -fx-primafyfamily;
    -fx-font-size: 16px;
    -fx-border-width: 0 1 1 1;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

#gridPaneFooter {
    -fx-background-color: -fx-primarybc;
}

#gridPaneFooter .label{
    -fx-font-family: -fx-primafyfamily;
}

#leftPane #orderTitle, #productTitle {
    -fx-font-size: 18px;
    -fx-font-family: Papyrus, Apple Chancery, -fx-primaryfamily, cursive;
}

.text-field {
    -fx-font-size: 16px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #000;
    -fx-border-radius: 10px;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

.text-field .placeholder {
    -fx-font-size: 16px;
}