
* {
    -fx-text-color: #000000;
    -fx-primary-bb-color: #434549;
    -fx-primarycolor: #99e248;
    -fx-primary-bb-text: #fff;
    -fx-secondarytext: #ff4d4d;
    -fx-primaryheader: #232F3D;
    -fx-primaryfamily: "Times New Roman", Times, serif;
}

.scroll-pane {
    -fx-background-color: transparent;
    fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    fx-control-inner-background: transparent;
    -fx-background-insets: 0;
}

.scroll-pane > .corner{
    fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;

}

.scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-primarycolor;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border: none;
}

.table-view .column-header {
    -fx-background-color: -fx-primarycolor;
    -fx-border-width: 0 0 3 0;
}

.table-view .column-header .label{
    -fx-font-size: 18px;
    -fx-font-family: -fx-primaryfamily;
}

.table-view .table-row-cell {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.table-view .table-row-cell .text {
    -fx-font-size: 15px;
}

.table-view .table-row-cell:selected .text{
    -fx-background-color: steelblue;
    -fx-fill: #b2030c;
    -fx-font-weight: bolder;
}

.table-view .table-column{
    -fx-alignment: center;
    -fx-padding: 10px 0 0 0;
    -fx-border-width: 0 0 0 0;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-background-color: transparent;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.text-field {
    -fx-font-size: 16px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #000;
    -fx-border-radius: 60px;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

.text-field .placeholder {
    -fx-font-size: 16px;
}

.button {
    -fx-font-size: 18px;
    -fx-font-family: -fx-primaryfamily;
    -fx-background-color: transparent;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
    -fx-border-color: #000;
}

.combo-box .cell {
    -fx-font-size: 16px;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #000;
    -fx-text-alignment: center;
}

#topPane .button {
    -fx-font-size: 18px;
    -fx-font-family: -fx-primaryfamily;
}

#topPane .button:hover {
    -fx-text-fill: -fx-primary-bb-text;
    -fx-background-color: -fx-primary-bb-color;
}

#leftPane {
    -fx-border-width: 0 1 0 0;
    -fx-border-style: dotted;
}

#flowPane .button:hover {
    -fx-cursor: hand;
    -fx-background-color: lightgray;
}

#flowPane .label {
    -fx-font-size: 16px;
    -fx-font-family: -fx-primaryfamily;
    -fx-text-fill: -fx-text-color;
}

#flowPane .button {
    -fx-font-size: 16px;
    -fx-pref-height: 135px;
    -fx-pref-width: 200px;
    -fx-text-fill: transparent;
}

#labelCategory {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: Verdana, Arial, Helvetica, sans-seri;
}

/*==============Styling all the Label==============*/
#totalItemT, #discountT, #priceT, #totalT {
    -fx-font-size: 15px;
    -fx-font-family: -fx-primaryfamily;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #000;
    -fx-border-style: dotted;
}

#totalItem, #discount, #totalPrice, #discountPer, #sumPrice {
    -fx-font-size: 16px;
    -fx-font-family: -fx-primaryfamily;
    -fx-alignment: center;
}

#rName {
    -fx-font-size: 20px;
    -fx-font-family: -fx-primaryfamily;
    -fx-font-weight: bold;
}

#rAddress, #rPhone{
    -fx-font-size: 15px;
    -fx-font-family: -fx-primaryfamily;
}

/*================Buttons style==============*/
#leftPane .button {
    -fx-text-fill: transparent;
    -fx-border: none;
    -fx-pref-width: 55;
    -fx-pref-height: 45;
    -fx-background-size: 50 40;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

#leftPane .button:hover {
    -fx-background-color: lightgray;
}

#removeItem {
    -fx-background-image: url("/image/icon/return-cart.png");
}

#checkOut {
    -fx-background-image: url("/image/icon/checkout.png");
}

#topPane, #gridPaneFooter, #gridPane1 {
    -fx-background-color: -fx-primarycolor;
}

#gridPaneFooter .label{
    -fx-font-size: 16px;
    -fx-font-family: -fx-primaryfamily;
}

#topPane .button {
    -fx-font-size: 16px;
}